<div class="container">
 <div class="row">
  <div class="mx-auto col-12 col-sm-10 col-lg-8 col-xl-6">
<h1>welcome to <br>
<i class="fas fa-thin fa-star"></i>
<strong>My Review Room</strong>!!<i class="fas fa-thin fa-star"></i></h1>

<h5>In <i class="fas fa-thin fa-star"></i><strong>My Review Room</strong></h5>
<h6>you can record and share your review , inpressions , and emotions<br>

about various categories!</h6>

      <div class="btn-wrapper col-10 mx-auto">
        <div class="row">

          <a class="btn btn-outline-info btn-sm btn-block mt-5 mb-4 sign_in" href="/users/sign_in">Log in</a>
        </div>
        <div class="row">
          <a class="btn btn-outline-warning btn-sm btn-block sign_up" href="/users/sign_up">Sign up</a>
        </div>
      </div>
   </div>
  </div>
</div>



