@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&display=swap');

body {
  font-family: 'Nunito', sans-serif !important;
}

.list_image {
    width: 148px;
    height: 128px;
}

.main_image {
  width: 300px;
  height: 250px;

}

.search-icon {
  width: 25px;
  height: 25px;
}

#background {
  background-image: url("../images/background.jpg");
  background-repeat:  no-repeat;
  background-color: #F7F7F3;
}

#main_background {
  background-color: #F7F7F3;
}

#color {
   background-color: white;
}

// #background {
//   background-image: image-url("/images/background.jpg");
// }