<div class="row" id="main_background">
<div class="container">
  <div class="row">
       <div class="mx-auto">
<h3 class="font-weight-bold mt-5">Edit Category</h3>
<div class="row">
<p>Category</p>


<%= form_with model: @category, url: categories_path do |category| %>
	<%= category.text_field :name , class: 'ml-5 mt-5 mr-5' %>

	<%=category.submit 'Save', class: 'btn btn-outline-success mb-3 mt-3' %>
<% end %>

   </div>
  </div>
</div>
</div>
